In [3]:
import pandas as pd
import numpy as np

In [13]:
warehouses = pd.read_csv("final_data/warehouse.csv")
warehouses

,warehouse_name,warehouse_location,warehouse_zipcode
0,"Roberts, Gardner and Willis",5817 Contreras Lodge Suite 387,66658
1,"Bowers, Hendrix and Gutierrez",22764 John Squares Suite 241,78707
2,"Edwards, Smith and Preston",23743 Elijah Brook Suite 609,85619
3,Parker-Garrett,92632 Renee View Suite 757,7539
4,"Bryan, Bradley and Li",83753 Porter Burgs,11336
5,Williams-Maxwell,5933 Jason Pass,95076
6,Roberts-Moyer,457 Hogan Roads Suite 424,28006
7,Baker-Jackson,810 Trujillo Throughway,83147
8,Perez Group,37337 Alan Crossing Suite 107,63609
9,Jones-Wilson,324 Williams Glens,51338
10,Hoffman Ltd,02443 Rogers Mews Apt. 240,79810
11,Hill-Johnson,8867 Anthony Course Suite 559,50306
12,"Chen, Kim and Scott",505 Jasmine Terrace Apt. 425,1853
13,Reynolds Inc,4054 Amanda Lakes Apt. 954,9524
14,"Manning, Fisher and Shelton",37621 Estes Hollow,99306
15,"Fitzgerald, Fernandez and Campbell",21889 Ryan Union Suite 038,86359
16,Johnston Inc,6437 Christopher Manor,64683
17,Ross-Mercer,6927 Kim Road,62170
18,Strickland-Martinez,9390 Solomon Rest,78049
19,Gilbert-Hubbard,533 Cruz Cove Apt. 002,89485
20,Lee and Sons,19416 Edward Junctions,67323
21,Owens Group,078 Dunn Mews Suite 985,31529
22,Martin Ltd,068 Thomas Plaza,76131
23,"Brown, Humphrey and Callahan",253 Thomas Lights Apt. 561,8592
24,"Curry, Cox and Watson",071 Thomas Meadow,87890

In [26]:
designations = ["manager", "worker", "worker", "worker", "worker", "worker"]
departments = ["management", "receiving", "putaway", "storage", "packing", "shipping"]
len(departments), len(designations)

(6, 6)

In [27]:
names  = ['Jodie Wood', "Malaika O'Reilly", 'Mohamad Neal', 'Juan Farley', 'Tianna Drake', 'Diane Charles', 'Aminah Summers', 'Dalton Cortez', 'Kaylum Zamora', 'Alexandre Mckay', 'Gideon Edwards', 'Chantelle Pollard', 'Gilbert Prince', 'Casey Ramirez', 'Leslie Ortega', 'Siena Sparks', 'Edgar Bernard', 'Elisabeth Sanders', 'Candice Dennis', 'Natalie Conner', 'Tomasz Pineda', 'Garfield Gilbert', 'Stephen Romero', 'Syeda Campbell', 'Chloe Buckley', 'Subhan Mckee', 'Sian Acevedo', 'Cai Mcbride', 'Steven Fitzgerald', 'Tommy Reese', 'Maisha Stuart', 'Fannie Williams', 'Mariah Lara', 'Eleni Martin', 'Anaya Leon', 'Alexandros Nielsen', 'Zeeshan Velez', 'Rayhan Petty', 'Freddie Greer', 'Elsa Sharpe', 'Elliot Garner', 'Emily Whitehead', 'Tilly Dickerson', 'Findlay Archer', 'Kylie Finley', 'Ines Stark', 'Jacques Dale', 'Alexandra Freeman', 'Irene Santos', 'Bertha Porter', 'Karim Hodges', 'Cory Knight', 'Everett Schaefer', 'Marco Paul', 'Nia Patel', 'Sinead Thomas', 'Joao Christian', 'Hussain Jennings', 'Taylor Mcdowell', 'Mario Kirby', 'Marcel Cohen', 'Gene Strickland', 'Scarlet Reed', 'Sachin Bowers', 'Imran Welch', 'Charley Hendrix', 'Jacob Beard', 'Zakir Cameron', 'Aimee Browning', 'Serena King', 'Hallie Figueroa', 'Keanu Castaneda', 'Ismail Hunter', 'Zachary Burke', 'Hamza Potts', 'Hamzah Armstrong', 'Jenson Howe', 'Junaid Baldwin', 'Sahar Warner', 'Sonia Carter', 'Jermaine Chan', 'Josef Hampton', 'Cleo Herman', 'Eryn Warren', 'Kane Ware', 'Rhea French', 'Rabia Byrne', 'Jorja Cordova', 'Lucas Shields', 'Rhys Lyons', 'Ronald Hewitt', 'Alesha Barker', 'Lana Moran', 'Aqsa Mcconnell', 'Amelie Quinn', 'Tabitha Barber', 'Kamil Morrow', 'Elissa Brandt', 'Adam Frank', 'Mathilda Riley', 'Lea Stephenson', 'Raymond Buck', 'Freyja Best', 'Dhruv Rose', 'Brodie Pearce', 'Audrey Phillips', 'Phyllis Tate', 'Princess Nielsen', 'Orlando Powell', 'Trystan Daniel', 'Ruairi Trujillo', 'Zara Koch', 'Madiha Knight', 'Lilia Hodge', 'Shawn Warren', 'Clayton West', 'Louie Atkinson', 'Dale Moon', 'Anna Rodgers', 'Rita Bridges', 'Harold Khan', 'Ophelia Guerra', 'Casey Webb', 'Bronte Jacobs', 'Abel Durham', 'Caspar Roberson', 'Marwa Gordon', 'Philip Adkins', 'Mattie Valencia', 'Marion Simon', 'Amelie Johnson', 'Wade Crane', 'Harmony Salas', 'Emmy Downs', 'Brittney Graham', 'Eileen Velasquez', 'Patrick Mitchell', 'Jenna Bryant', 'Ollie Montes', 'Donald Long', 'Elmer Burke', 'Kaden Reed', 'Ernest Bentley', 'Ella-Louise Carver', 'Dawid Johns', 'Olive Saunders', 'Lawson Wu', 'Aliza Roman', 'Claudia Farrell', 'Madison Snyder']

In [28]:
madereviews.dtypes

customer_id    object
product_id     object
stars           int64
review         object
dtype: object

In [29]:
warehouse_names = list(warehouses["warehouse_name"])
warehouse_locations = list(warehouses["warehouse_location"])
zipcodes = list(warehouses["warehouse_zipcode"])

In [31]:
WorksAtEmployees = {
    "employee_id": [],
    "employee_name": [],
    "employee_designation": [],
    "employee_department": [],
    "warehouse_name": [],
    "warehouse_zipcode": []
}
for i in range(25):
    for j in range(6):
        WorksAtEmployees["employee_id"].append("EMP000"+str(1+i*6+j))
        WorksAtEmployees["employee_name"].append(names[i*6+j])
        WorksAtEmployees["employee_designation"].append(designations[j])
        WorksAtEmployees["employee_department"].append(departments[j])
        WorksAtEmployees["warehouse_name"].append(warehouse_names[i])
        WorksAtEmployees["warehouse_zipcode"].append(zipcodes[i])
WorksAtEmployees = pd.DataFrame(WorksAtEmployees)

In [32]:
WorksAtEmployees

,employee_id,employee_name,employee_designation,employee_department,warehouse_name,warehouse_zipcode
0,EMP0001,Jodie Wood,manager,management,"Roberts, Gardner and Willis",66658
1,EMP0002,Malaika O'Reilly,worker,receiving,"Roberts, Gardner and Willis",66658
2,EMP0003,Mohamad Neal,worker,putaway,"Roberts, Gardner and Willis",66658
3,EMP0004,Juan Farley,worker,storage,"Roberts, Gardner and Willis",66658
4,EMP0005,Tianna Drake,worker,packing,"Roberts, Gardner and Willis",66658
...,...,...,...,...,...,...
145,EMP000146,Olive Saunders,worker,receiving,"Curry, Cox and Watson",87890
146,EMP000147,Lawson Wu,worker,putaway,"Curry, Cox and Watson",87890
147,EMP000148,Aliza Roman,worker,storage,"Curry, Cox and Watson",87890
148,EMP000149,Claudia Farrell,worker,packing,"Curry, Cox and Watson",87890
149,EMP000150,Madison Snyder,worker,shipping,"Curry, Cox and Watson",87890

In [33]:
WorksAtEmployees.to_csv("worksatemployees.csv", index=False)